@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:wght@600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Averia Serif Libre ;
}
button{
    background: none;
}
#sections{
    background: url(/images/Rectangle.png);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
#sections #nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu button{
    display: none;
 }
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.logo p{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
}
.nav .menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .menu ul li{
    padding: 0px 30px;
}
nav-sidebar{
    display: none;
    cursor: pointer;
}
.menu ul li a {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    color: #FFFFFF;
}
.menu ul li a::before{
    position: absolute;
    /* padding: 20px; */
    content: '';
    background: #FFFFFF;
    height: 5px;
    width: 0%;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.menu ul li a:hover::before{
    width: 100%;
}


#sections #hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 40px;
}
.hero-img{
    width: 50%;
}
.hero-img img {
    width: 80%;
    /* z-index: 10; */

}
.hero-text{
    width: 50%;
}
.hero-text h1{
    text-transform: capitalize;
    font-size:7rem;
    font-weight: 400;
    color: #F5D7D7;
}
.product{
    text-transform: capitalize;
    background-color: #F5D7D7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
}
/* about */
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#FFEBEB;
    position: relative;
    z-index: -2;
}
.about{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    flex-direction: column;
}
.abouts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    z-index: 4;

}
.about h1{
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 50px;
    position: relative;
    /* border: black solid; */
}
.about h1 img {
    position: absolute;
    bottom: -10%;
    right: 3%;
    width: 100%;
}
.about-text{
    width: 50%;
}
.about-text h2 {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 700;
}
.about-text p {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 300;
    width: 100%;
    margin-top: 50px;
}
.about-img{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.about-img img{
    width: 80%;
}
.img1{
    position: absolute;
    top:100%;
    left: 0;
    /* width: 75%;  */
}
.img1 img{
    width: 85%; 
    display: none;
}
/* end about */
/* works */
.works h1{
    font-size: 50px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 50px;
    position: relative;
    /* border: black solid; */
}
.works h1 img {
    position: absolute;
    bottom: -10%;
    right: 3%;
    width: 100%;
}
#works{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8D3A6;
    padding-bottom: 50px;
    position: relative;
}

.works{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
    flex-direction: column;
}
.workss{
    margin-top:40px ;
    width: 100%;
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    row-gap: 40px;
    column-gap: 40px;
}
.second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;
    margin-top:40px ;
}
.workss .second div {
    width: 100%;
}
.workss .second div img {
    width: 100%;
}
.workss .first  div {
    width: 100%;
}
.workss .first div img {
    width: 100%;
}

.work2{
    position: relative;
    width: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: #FF7979D9;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 50%; */
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
}
.content a img {
      width: 20% !important;
}
.work2:hover .overlay{
    opacity: 0.8;
}
/* contacts */
#contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0 ;
}
.contacts h1{
    font-size: 30px;
    color: #000000;
    text-transform: capitalize;
    text-align: center;
}
.contacts h1 span{
    color: #E5E5E5;
    text-transform: uppercase;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact div img {
    margin: 10px;
}
/* ................media queries............*/
@media screen 
and (min-width:250px)
and (max-width:900px){
    .menu{
        position: fixed;
        top: -100%;
        left:0 ;
        z-index: 1000;
        background: #F5D7D7;
        width: 50%;
        height: 100vh;
        display: none;
        box-shadow: 2rem 0 2rem var(--color-primary-light);
        animation: showmenu 1.4s ease forwards;
    }
    @keyframes showmenu {
        to{
            top: 0;
        }
     }
     .menu button{
        display: block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 4;
        color: var(--color-dark);
        cursor: pointer;
     }
     .menu ul li a::before{
         display: none;
     }

      .nav .menu ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:100px;
        row-gap: 2rem ;
        /* margin-left: 50px; */
        /* text-align: center; */
    }
    .nav .menu ul li{
        padding: 0px 0px;
    }

      nav-sidebar{
          display: block;
          cursor: pointer;
      }
      .hero-section{
          flex-direction: column;
          margin-bottom: 40px;
      }
      .hero-text{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }
      .hero-text h1{
          font-size: 5rem;
      }
      .hero-img{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .abouts{
          flex-direction: column;
          margin-bottom: 70px;
          z-index: 4;

      }
      .about-text{
        width: 100%;
    }
    
    .about-img{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .about-img img{
        width: 100%;
    }
    .img1{
        position: absolute;
        bottom:-140%;
        left: 0;
        /* z-index: 1; */
    }
    .first{
        flex-direction: column;
        /* overflow: hidden; */
        
    }
    .second{
        flex-direction: column;
    }
    .workss .second div {
        width: 100%;
    }
    .workss .second div img {
        width: 100%;
    }
    .workss .first div {
        width: 100%;
    }
    .workss .first div img {
        width: 100%;
    }



}
@media screen 
and (min-width:901px)
and (max-width:1080px){
    .product {
        text-transform: capitalize;
        background-color: #F5D7D7;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 2rem;
    }
    
}